@require 'normalize.css/normalize.css'
//@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|VT323|Oswald');

*{
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;

}

[alt=""] {

  border: 2px solid red;

}

.main {
  display: flex;
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/retina_wood.png');
  justify-content: center;
  align-items: center;
  height: 100vh;


  .simon {
    display: flex;
    flex-wrap: wrap;
    //background-color: grey;
    height: 500px;
    width: 500px;
    border: 10px solid rgb(69, 60, 45);
    border-radius: 50%;
    overflow: hidden;

    &-menu{
      position: absolute;
      background-color: #e0e0e0;
      width: 250px;
      height: 250px;
      border-radius: 50%;  
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 10px solid rgb(69, 60, 45);
      z-index: 10;
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &-title{
      text-align: center;
      font-size: 45px;
      font-family: 'Alfa Slab One', cursive;
      position: relative;
      

      span{
        font-size: 20px;
        position: absolute;
        top: 5px;
      }
    }

    &-count-view{
      width: 60px;
      height: 35px;
      background-color: black;
    }

    &-btn-rounded {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: 2px grey solid;
      
    }

    &-btn-on-off{
      margin: 10px auto;
      width: 60px;
      height: 25px;   
      border: 1px solid black;
      background-color: grey;
      display: flex;



      &-span{
        background-color: blue;
        width: 50%;
        height: 100%;
        margin-left: 0%;
        transition: all .2s;

        &--active{
          margin-left: 50%;
        }  
      }

    }
  
    
    &-btn-start{
      background-color: red;
    }

    &-btn-strict {
      background-color: yellow;  
    }

    &-color{
      //background-color: orangered;
      flex-basis: 50%;
      z-index: 1;
      filter: brightness(0.5);
      box-sizing: content-box;
      cursor: pointer;
      //border: 10px solid rgb(69, 60, 45);
      
      &--1 {
        background-color: green;
      }

      &--2 {
        background-color: rgb(255,0,0);
      }

      &--3 {
        background-color: yellow;
      }

      &--4 {
        background-color: blue;
      }

      &-active{
        filter: brightness(2);
      }
    }  
  }

}